@model IEnumerable<shopItems>
@{
    ViewData["Title"] = "ShopItems";
}

<h2>ShopItems</h2>
<div>
    @foreach (var i in @Model)
    {
        <ul>
            <li>@i.Item</li>
            <li>@i.Price</li>
            <li>@i.Describe</li>
        </ul>
     }
</div>
